<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
【热门搜索表】对象关系映射 配置 
 @author AutoCode 309444359@qq.com
 @date 2016-10
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bluemobi.dao.system.SystemHotSearchDao">

	<resultMap id="systemHotSearchResultMap" type="com.bluemobi.po.system.SystemHotSearch">
		<id property="id" column="id" />
       <result property="type" column="type" />
       <result property="searchKey" column="search_key" />
       <result property="count" column="count" />
       <result property="sortOrder" column="sort_order" />
       <result property="status" column="status" />
       <result property="creator" column="creator" />
       <result property="ctime" column="ctime" />
       <result property="modifier" column="modifier" />
       <result property="mtime" column="mtime" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="systemHotSearchResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="systemHotSearchResultMap"></resultMap>
	
	
	<insert id="insert" parameterType="com.bluemobi.po.system.SystemHotSearch" useGeneratedKeys="true" keyProperty="id" >
	   insert into system_hot_search (
	     id,
	     type,
	     search_key,
	     count,
	     sort_order,
	     status,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   )values (
	     #{id},
	     #{type},
	     #{searchKey},
	     #{count},
	     #{sortOrder},
	     #{status},
	     #{creator},
	     #{ctime},
	     #{modifier},
	     #{mtime}
	   )
	</insert>

	<update id="update" parameterType="com.bluemobi.po.system.SystemHotSearch">
		update system_hot_search
		<set>
			<if test="id != null">
				id=#{id},
			</if>
			<if test="type != null">
				type=#{type},
			</if>
			<if test="searchKey != null">
				search_key=#{searchKey},
			</if>
			<if test="count != null">
				count=#{count},
			</if>
			<if test="sortOrder != null">
				sort_order=#{sortOrder},
			</if>
			<if test="status != null">
				status=#{status},
			</if>
			<if test="creator != null">
				creator=#{creator},
			</if>
			<if test="ctime != null">
				ctime=#{ctime},
			</if>
			<if test="modifier != null">
				modifier=#{modifier},
			</if>
			<if test="mtime != null">
				mtime=#{mtime},
			</if>
		</set>
		<where>
			id=#{id} 
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from 
	     system_hot_search 
	   where 
	    id=#{id} 
	</delete>

	<select id="selectObject" parameterType="map" resultMap="systemHotSearchResultMap">
	   select 
	    id,
	    type,
	    search_key,
	    count,
	    sort_order,
	    status,
	    creator,
	    ctime,
	    modifier,
	    mtime
	   from system_hot_search
	   where 
	    id=#{id} 
	</select>
	
	<select id="selectObjectList" parameterType="map" resultMap="systemHotSearchResultMap">
	   select 
	     id,
	     type,
	     search_key,
	     count,
	     sort_order,
	     status,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   from system_hot_search
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="searchKey != null">
	        and search_key=#{searchKey}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select 
	    id,
	    type,
	    search_key,
	    count,
	    sort_order,
	    status,
	    creator,
	    ctime,
	    modifier,
	    mtime
	   from system_hot_search
	   where 
	    id=#{id} 
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select 
	     id,
	     type,
	     search_key,
	     count,
	     sort_order,
	     status,
	     creator,
	     ctime,
	     modifier,
	     mtime
	   from system_hot_search
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="searchKey != null">
	        and search_key=#{searchKey}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</select>
	
	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select 
	     id,
	     type,
	     search_key,
	     count,
	     sort_order,
	     status,
	     creator,
	     ctime,
	     modifier,
	     mtime
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from system_hot_search
	   <where>
	     <if test="id != null">
	        id=#{id}
	     </if>
	     <if test="type != null">
	        and type=#{type}
	     </if>
	     <if test="searchKey != null">
	        and search_key=#{searchKey}
	     </if>
	     <if test="count != null">
	        and count=#{count}
	     </if>
	     <if test="sortOrder != null">
	        and sort_order=#{sortOrder}
	     </if>
	     <if test="status != null">
	        and status=#{status}
	     </if>
	     <if test="creator != null">
	        and creator=#{creator}
	     </if>
	     <if test="ctime != null">
	        and ctime=#{ctime}
	     </if>
	     <if test="modifier != null">
	        and modifier=#{modifier}
	     </if>
	     <if test="mtime != null">
	        and mtime=#{mtime}
	     </if>
	   </where>
	</sql>

	
</mapper> 