<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!-- 后台管理系统过滤器 -->
	<bean name="backFilter" class="com.bluemobi.filter.BackFilter">
	   <property name="staticResourceSuffixList">
	       <list>
			   <value>css</value>
			   <value>js</value>
			   <value>gif</value>
			   <value>jpg</value>
			   <value>png</value>
			   <value>woff</value>
			   <value>ttf</value>
			   <value>eot</value>
			   <value>svg</value>
			   <value>otf</value>
	       </list>
	   </property>
	   <property name="visitUrlList">
	       <list>
               <value>/adminLogin/login</value>
               <value>/adminLogin/code</value>
               <value>/api/otherapi</value>
               <value>/api/casUser/</value>
               <value>/api/index/</value>
               <value>/api/store/</value>
               <value>/api/audit/</value>
               <value>/api/store/</value>
               <value>/api/alarm/</value>
               <value>/api/message/</value>
               <value>/api/statis/</value>
               <value>/api/amsManage/</value>
               <value>/api/device/</value>
               <value>/server/socketServer</value>
               <!-- <value>/webJump</value> -->
               <!-- <value>/web</value> -->
               <value>/api/amsTask/</value>
               <value>/api/otherapi/</value>
               <value>/api/edition/</value>
                <value>/api/rfid/</value>
                <value>/deviceAccessRecord/</value>
                <value>/web/humiture/</value>
                <value>/web/archive/</value>
                <value>/api/getData/</value>
                <value>/amsArchives/</value>
                <value>/amsArchivesAudit/</value>
                <value>/deviceManage/</value>
                <value>/amsArchivesAudit/</value>
           </list>
	   </property>
	   <property name="userOpenUrlList">
	       <list>
	           <value>/admin</value>
	           <value>/adminLogin/logout</value>
	           <value>/panel/navigation/getNavigationById</value>
               <value>/trend/region/getRegionByPid</value>
               <value>/trend/region/getChilds</value>
	       </list>
	   </property>
	</bean>
	
</beans>